# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
venv/

# OS
.DS_Store

# Gunicorn / logs
*.log

# Runtime data (VERY IMPORTANT)
 /var/lib/privatevault/
api_keys.json

# TLS / certs
/etc/letsencrypt/

# Editor
.vscode/
.idea/

# Systemd
*.service
